<nav>
  <div class="container">
    <div class="twelve columns">
        <%= link_to "sample app", '#', id: "logo" %>
          <ul class="nav-load">
            <li class="site-name"><%= link_to "Home",   '#' %></li>
            <li class="hidden-mobile"><%= link_to "Help",   '#' %></li>
            <li class="hidden-mobile"><%= link_to "Log in", '#' %></li>
          </ul>
        </div>
      </div>
    </nav>