<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | @RooM8</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body>
  	<section id ="inner">
    	<div class ="container">
      		<div class ="twelve columns front">
        		<div id ="Word-Column">
          		<h1>We're always available!</h1>
          		<h2>Have a question, or need some help?

</h2>
<p>Check out the help sections on the left. If you still can’t find an answer, send us feedback.

</p>
        	</div>
        </div>
    </div>
</section>
  </body>
</html>