<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | @ RooM8</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <section id ="Main">
    <div class ="container">
      <div class ="twelve columns front">
        <div id ="Word-Wrapper">
          <h1 class="fadeInDown animated" data-wow-duration="2
          s" style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInDown;">Hey kid, how's that shit feel!<div class="heading_border"></div></h1>
          <div class="fadeInUp animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInUp;">
        <a href="/join" class="button button-primary">Join Us!</a>
        <a href="/gettingstarted" class="button button-secondary">Learn More</a>
      </div>
        </div>


</div>
</div>
</section>
	 </body>
</html>